<!DOCTYPE html>
<html  lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Skolas datortehnikas uzskaite-problēmu saraksts</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='static/css/style.css'>
		<script src='static/js/main.js'></script>
	</head>
	<body>
		<script>
			head("Datortehnikas problēmu saraksts","/");
		</script>
		<!-- -->
		<hr></hr>
		<form>
		<table>
			<thead>
				<tr>
					<th>Tips</th>
					<th>Inventāra Nr.</th>
					<th>Kabinets</th>
					<th>Problēmas apraksts</th>
					<th colspan=2>Statuss</th>
				</tr>
			</thead>
			<tbody id="rinda">
			</tbody>
		</table>
	</form>
		<script>
			foot();
			getData("bojajumi","rinda",["name","invNr","room","note","status"],'statuss("rinda")');
		</script>
	</body>
</html>